<footer id="footer">
   <div id="footer-div">
       <ul>
           <li>Home</li>
           <li>Student</li>
           <li>About us</li>
       </ul>
       <ul>
           RT Copyright 2022
       </ul>
   </div>

</footer>