<footer id="footer">
   <div id="footer-div">
       <ul>
           <li ><a href="/"> Home</a></li>
           <li ><a href="/student">Student</a></li>
           <li>About us</li>
       </ul>
       <ul>
           RT Copyright 2022
       </ul>
   </div>

</footer>