
<body>
    <div style="display:flex; flex-direction:row;margin-top: 15%;margin-left: 34%;">
        <h1><a href="/jobs/jobs-api" style="text-decoration:none;width:80px; height:40px; padding:10px; background-color:rgb(160, 150, 57); border-radius: 3px;">Available Jobs </a></h1>
        <h1 style="margin-left:15px"><a href="/student" style="text-decoration:none;width:80px; height:40px; padding:10px; background-color:rgb(160, 150, 57);">Students Data </a></h1>
    </div>
</body>

