<!-- this file contains the overall layout of our apps web page -->

<html lang="en">
<head>
    
    <title><%= title %> </title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/layout.css">
</head>
<body>
<%- include('_header') -%>

<%- body %> 
<!-- the above body will fill itself the required ejs file 
     for example if home is to be rendered then it will home .ejs as its body -->


<%- include('_footer') -%>
</body>
</html>