<!-- <link rel="stylesheet" href="/css/user_sign_up.css"> -->
<div id="sign-up-div">
    
    <div id="user_sign_up">
        <p id="for-google-signup"><a><strong>Sign In</strong></a></p>
        ----------------
        <form action="/users/create-session" method="post" id="user_sign_up_form">           
           
            <input type="text"     name="empid" id="user-email"    placeholder="Enter Employee Id">
            <input type="password"  name="password" id="user-pword"    placeholder="Enter Password">
           
            <input type="submit" value="Sign In">
        </form>
        <p id="for-sign-in">New User<a href="/users/sign-up"> Sign UP</a>  </p>
    </div>
   
</div>