<!-- <link rel="stylesheet" href="/css/user_sign_up.css"> -->
<div id="sign-up-div">
    
    <div id="user_sign_up">
        <p id="for-google-signup"><a href=""><strong>Sign Up Via Google</strong></a></p>
        --------OR--------
        <form action="/users/create" method="post" id="user_sign_up_form">           
           
            <input type="email"     name="useremail" id="user-email"    placeholder="enter email id">
            <input type="password"  name="password" id="user-pword"    placeholder="enter password">
           
            <input type="submit" value="Sign Up">
        </form>
        <p id="for-sign-in">New User<a href="/users/sign-up"> Sign UP</a>  </p>
    </div>
   
</div>