#student-home{

    display: flex;
    flex-direction: row;

    #table-container-div{       
        width:50%;
        margin-left: 15%;

        h4{
            margin-left:38%;
        }
        #breif-details-table{
            border: 1px solid black;

            #table-header th{
                    border: 1px solid rgb(5, 88, 23);
                    padding: 4px;
                    width:12.5%;
                    background-color: rgb(158, 235, 212);
                }
            tr td{
                border: 1px solid black;
                padding: 4px;
                background-color: rgb(218, 206, 189);
            }
        }
    }
    #redirect-to-entry-page{
        margin-top: 100px;
        padding-left: 10%;

    }
}