#table-div {
  display: flex;
  flex-direction: row; }
  #table-div #table1 {
    margin-left: 25%; }
  #table-div #table1 {
    width: 23%;
    margin-top: 20px; }
    #table-div #table1 tr td {
      width: 50px;
      padding: 8px;
      margin-right: 3px;
      border-bottom: 1px solid #f1f0f0; }
    #table-div #table1 tr th {
      border-bottom: 1px solid #ebebeb;
      text-align: left; }
  #table-div #div-table2 {
    margin-left: 15%; }
    #table-div #div-table2 #table2 tr td {
      width: 90px;
      padding: 8px;
      margin-right: 3px;
      border-bottom: 1px solid #f1f0f0; }

#interview-button {
  margin-top: 10px;
  display: flex;
  justify-content: space-around; }
