#outer-div {
  margin-left: 10%;
  margin: auto; }
  #outer-div #inner-div {
    width: 80%; }
    #outer-div #inner-div table {
      border: 1px solid black; }
      #outer-div #inner-div table thead th {
        border: 1px solid black;
        width: 20%;
        padding: 4px;
        background-color: #9eebd4; }
      #outer-div #inner-div table tbody tr td {
        border-left: 1px solid black;
        border-right: 1px solid black;
        border-bottom: 1px solid black;
        padding: 4px;
        text-align: center;
        background-color: #dacebd; }
