div {
  display: flex;
  flex-direction: row; }
  div #table1 {
    margin-left: 25%; }
  div #table2 {
    margin-left: 15%; }
  div table {
    width: 23%;
    margin-top: 20px; }
    div table tr td {
      width: 50px;
      padding: 8px;
      margin-right: 3px;
      border-bottom: 1px solid #f1f0f0; }
    div table tr th {
      border-bottom: 1px solid #ebebeb;
      text-align: left; }
